{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>Railway</title>
</head>

<body>
    <div style="padding: 50px 0px 0px 0px">
    <h1 class="text-center" style="background-color: lightgreen" > Login </h1>  
    <a href="{% url 'index' %}" class="btn" style="background-color: lightgreen"><b>Back</a>
     
    </div>
    <div class="text-center" style="padding: 100px 0px 0px 0px">
    <form class="form-horizontal" role="form" action="{% url 'login' %}" method="post"
        enctype="multipart/form-data" style="min-width: 30%">
        {% csrf_token %}
        <div class="form-style-agile">
            <label>
                <i class="glyphicon glyphicon-user"></i>
                <b>User ID

            </label>
            <input id="userId" maxlength="30" placeholder="User ID" name="userId" type="text" required="">
        </div>
        <div class="form-style-agile">
            <label>
                <i class="glyphicon glyphicon-user"></i>
                <b>Password

            </label>
            <input id="password" maxlength="30" name="password" type="password" placeholder="Password" required="">
        </div>
        <input type="submit" style="float:top; background-color: lightgreen" value="Log In">
    </form>
    </div>
    {% if error %}
    <div style="color: red;">
        {{ error }}
    </div>
    {% endif %}
    </div>
</body>

</html>